<div class="jumbotron center">
		<h1>Listen up you motherfuckers!</h1>
		<% if user_signed_in? %>
			#Yolo Swag 420 Blaze It Son You Did It Hi-YA
		<% else %>
		<p>
			<%= link_to "Log Yo Ass In",new_user_session_path,class:"btn btn-warning btn-lg"%> 
			<%= link_to "Sign Yo Ass Up",new_user_registration_path,class:"btn btn-primary btn-lg"%>
		</p>
	<% end %>
</div>