<%= render 'pages/home' unless user_signed_in? %>

<% @buckets.each do |bucket| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to bucket.title, bucket %></h2>
    <p class="todo_list_sub_title"><%= bucket.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Bucket", new_bucket_path %>
</div>

