.menu-button {
	padding-top: 60px;
}

#footer {
   position:fixed;
   bottom:0px;
   width:100%;
}

.center-create {
  margin-left: auto;
  margin-right: auto;
}

.navbar-fixed-bottom {
	background-color: #ffffff;
	border-color: #eeeeee;
	color: #e68a00;
	font-family: Spinnaker;
}

.glyphicon.glyphicon-plus-sign {
	color: #00A600;	
}

#prof-pic {
	padding-right: 9.7%;
	padding-left: 11.74%;
}

#menu-items {
	padding-left: 7.5%;
}

#create-action {
	padding-top: .7%;
	padding-left: 12%;
}

#settings {
	padding-right: 9.7%;
	padding-top: .7%;
}

#frucket-logo {
	padding-left: 7.5%;
	font-size: 30px;
}


