#footer {
   position:fixed;
   bottom:0px;
   width:100%;
}

.center-create {
  margin-left: auto;
  margin-right: auto;
}

.navbar-fixed-bottom {
	background-color: #ffffff;
	border-color: #eeeeee;
	color: #e68a00;
	font-family: Spinnaker;
}

.glyphicon.glyphicon-plus-sign {
	color: #00A600;	
}
