<nav class="navbar navbar-default navbar-fixed-bottom">
  <% if user_signed_in? %>

    <div class="container-fluid" display="inline-block">
      <ul class="nav navbar-nav navbar-left" id="frucket-logo">
        <li>
          <%= link_to "frucket", about_path%>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left" id="create-action">
        <li>
          <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-plus-sign"> Create</span>
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" id="settings">
        <ul class="dropup">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% if user_signed_in? %>
              <li><%= link_to "Account Settings", edit_user_registration_path %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </ul>
      </ul>

    </div>

  <% end %>
</nav>