<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header navbar-left" style="float: left; display:inline-block; white-space:nowrap; overflow:hidden;">
      <%= link_to "frucket", about_path,class:"navbar-brand"%>
    </div>

    <button type="button" class="btn btn-success" style="float:left; display:inline-block; margin-left: 21%; margin-top: 0.75%; white-space:nowrap; overflow:hidden;">
      <% if user_signed_in? %>
          <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal">Create</span>
      <% end %>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="nav navbar-right" style="margin-top:0.75%; float:right;">
      <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% if user_signed_in? %>
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </div>
</nav>