<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header navbar-left" style="float: left; display:inline-block; white-space:nowrap; overflow:hidden;">
      <div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">

          <% if user_signed_in? %>
            <li><%= link_to "Feeds", root_path %></li>

            <li>
                <%= link_to "Upcoming", upcoming_path %>
            </li>

            <li>
                <%= link_to "Planning", planning_path %>
            </li>

            <li>
                <%= link_to "Ideas", ideas_path %>
            </li>  

          <% end %>  
        </ul>
      </div>
    </div>
  </div>
</nav>